<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new chat</title>
</head>
<body>
    <h3>Write the message</h3>
    <form action="/chats" method="POST">
        <input type="text"  placeholder="Your name ?" name="from">
        <br><br>
        <textarea name="msg" id="" cols="30" rows="10">Write your message</textarea>
        <br><br>
        <input type="text" placeholder="Recievers name" name="to">
        <br><br>
        <button>Create</button>
    </form>
</body>
</html>
